/*
 * Empty Stylesheet file.
 */

#AnchorPane{
    -fx-background-color: #c3d1d6;;
}

.text-field {
    -fx-cursor: hand;
    -fx-background-color: #88a4ae;
    -fx-background-radius: 50;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.label {
    -fx-text-fill:black;
     -fx-font-size:13px;
    -fx-font-weight: bold;
    -fx-font-style: italic; 
}

#titulo{
    -fx-font-size:21px;
}

.text-area {
    -fx-background-color: #f5f5f5;  /* Color de fondo */
    -fx-text-fill: #333333;  /* Color del texto */
    -fx-font-family: 'Arial';  /* Familia de fuente */
    -fx-font-size: 14px;  /* Tamaño de fuente */
    -fx-padding: 10px;  /* Relleno interno */
    -fx-border-color: #cccccc;  /* Color del borde */
    -fx-border-radius: 5px;  /* Radio de borde */
    -fx-background-radius: 5px;  /* Radio de fondo */
}

.text-area:focused {
    -fx-border-color: #66afe9;  /* Color del borde al enfocar */
    -fx-background-color: #ffffff;  /* Color de fondo al enfocar */
}